# ─── Configuration Template (FSub Platform) ─────────────────
# Rename file ini menjadi .env dan isi variabel di bawah ini.

BOT_TOKEN=6938657094:AAEy6kRa3CVRJEfv_NyHFeD4foOv_m6FbwI
API_ID=17131033
API_HASH=7768488c115ac09684bb38e608c47997
MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
ADMINS=1734774709
LOG_GRP=-1002061778178

# Optional Settings
# MASTER_CRYPTO_KEY=ganti_dengan_secret_key_random_anda
# BOT_ID=6938657094
# MEMBER=
# KITA=
